.users {
    max-width: 1140px;
    height: auto;
    padding: 8px;
}

.selected {
    color: gold;
    font-weight: bold;
}
.unselected {
    color: white;
    font-weight: normal;
}

.pagination {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
span {
    cursor: pointer;
    margin-right: 8px;
}