.friend {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
    -moz-transition: all ease-in-out .4s;
    -ms-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
}

.friend:hover {
    color: gold;
}

.friend p {
    margin-top: 2px;
}