.header {
    grid-area: header;
    background-color: #181A20;
  }
  .header .img {
    width: 60px;
    height: 60px;
    background: url('/src/logo.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }