.posts {
    font-size: 16px;
    padding: 8px;
}

/* .item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}
.item img {
    width: 60px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */
