.App {
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  max-width: 1200px;
  font-size: calc(10px + 2vmin);
  grid-template-areas: "header header"
  "sideBar content"
  "footer footer";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  grid-area: content;
  background-color: #161A1e;
}